/* ------------------------------------ Footer Top ------------------------------------ */
.footer-top {
     text-align: center;
     color: var(--color-white);
     margin: 0 auto 3rem auto;
}
.footer-top h2 {
     font-size: 2.5rem;
}

.footer-top p {
     color: var(--color-yellow);
     font-size: 1.3rem;
     margin-top: 1rem;
}
/* ------------------------------------ Footer Bottom ------------------------------------ */
.swiper-pagination {
     height: 2rem !important;
}

.swiper-wrapper {
     height: 32rem !important;
}

.slide-box {
     background-color: var(--color-light-gray);
     width: 17rem;
     height: 28rem;
     transition: all ease 0.2s;
     position: relative;
}

.slide-box:hover {
     background-color: rgba(0, 255, 255, 0.252);
     transform: scale(1.08) translateY(-1.4rem);
}

.slide-box .img {
     width: 100%;
     height: 55%;
     overflow: hidden;
}

.slide-box .img img {
     width: 100%;
}

/* ------------------------------------ Slider Infos ------------------------------------ */
.slider-infos {
     width: 100%;
     padding: 1rem;
}

.info-bottom {
     /* display: block !important; */
     position: absolute;
     bottom: 1.2rem;
     left: 1rem;
     right: 1rem;
}

.info-bottom button {
     background-color: var(--color-yellow);
     font-size: 12px;
     font-weight: bold;
     border: none;
     padding: 1px 15px;
}

.swiper-pagination-fraction {
     color: var(--color-white) !important;
     z-index: 500;
}

.swiper-scrollbar {
     top: 10rem;
}

.swiper-pagination-bullet {
     background-color: aliceblue !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
     background-color: var(--color-yellow) !important;
}

/* ------------------------ footer bottom ------------------------ */
.footer-bottom {
     border-radius: 1rem;
     box-shadow: 1px 1px 20px 0px #ffffff47;
     margin-top: 2rem;
     justify-content: space-around;
     color: var(--color-white);
     height: 20rem;
}

/* -------- left -------- */
.footer-left{
     justify-content: space-between;
     gap: 2rem;
}

.footer-left-input {
     gap: 5px;
}

.footer-left-input input,button {
     border: none;
     height: 1.5rem;
     border-radius: 5px;
}

.footer-left-input button:hover {
     background-color: var(--color-yellow);
}

/* -------- right -------- */
.footer-bottom .footer-right {
     gap: 1.5rem;
     align-items: baseline;
}

.footer-bottom .footer-right a:hover {
     color: var(--color-yellow);
}

.footer-bottom .footer-right i {
     font-size: 1.6rem;
}