.flex {
     display: flex;
}
.flx-dir-col {
     flex-direction: column;
}
.align-center {
     align-items: center;
}
.jus-cen {
     justify-content: center;
}
.jus-sp-bet {
     justify-content: space-between;
}